#banner {
  position: relative;
  background: 
    linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(126, 209, 247, 0.5)),
    url('https://images.unsplash.com/photo-1503072669097-a672dfe4c4ce?q=80&w=1170&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  height: 550px;

  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
  text-align: left;         /* keep text aligned left */
  padding: 0 2rem;          /* space from edges */
}

.banner-content {
  max-width: 600px;         /* prevent it from stretching too wide */
}
#banner-title {
  font-weight: bold;
  font-size: 2.5rem;
}
#motto {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}


.custom-link:hover {
  color: #0d6efd;            /* Bootstrap blue on hover */
}

.btn-info {
  background-color: #2da1c7;
}

#ProductCard {

  width: 100%; 
  max-width: 20rem;
}
